@model CityWeather;
<!DOCTYPE html>
<html>
<head>
	<title>@Model.CityName Weather Page</title>
	<link rel="stylesheet" href="~/StyleSheet.css" />
	<meta charset="utf-8" />
</head>
<body>
	<h1>Weather</h1>
	<div class="center-div page-content">
		<div class="flex-borderless-boxes "> 
				@if (Model.TemperatureFahrenheit <= 44)
				{
							<div class="box-blue">		
								<div class="flex-borderless">
									<div  class="left-items">
											<div class="font-size bold-text">@Model.CityName</div>
											<div class="text-grey bold-text">@Model.DateAndTime.ToString("dd MMM yyy")</div>
											<div class="text-grey bold-text">@Model.DateAndTime.ToString("hh:mm tt")</div>
									</div>
									<div class="vertical-line"></div>
										<div class="fahrenheit-font-size bold-text">@Model.TemperatureFahrenheit</div>
									<div class="degree-symbol-style text-grey">°F</div>
								</div>
							</div>
				}
			else if (Model.TemperatureFahrenheit > 44 && Model.TemperatureFahrenheit < 74)
				{
									<div class="box-green">		
										<div class="flex-borderless">
												<div class="left-items">
													<div class="font-size bold-text">@Model.CityName</div>
														<div class="text-grey bold-text">@Model.DateAndTime.ToString("dd MMM yyy")</div>
													<div class="text-grey bold-text">@Model.DateAndTime.ToString("hh:mm tt")</div>
											</div>
											<div class="vertical-line"></div>
												<div class="fahrenheit-font-size bold-text">@Model.TemperatureFahrenheit</div>
											<div class="degree-symbol-style text-grey">°F</div>
										</div>
									</div>
				}
			else if (Model.TemperatureFahrenheit >= 74)
				{
									<div class="box-orange">		
										<div class="flex-borderless">
												<div class="left-items">
													<div class="font-size bold-text">@Model.CityName</div>
													<div class="text-grey bold-text">@Model.DateAndTime.ToString("dd MMM yyy")</div>
													<div class="text-grey bold-text">@Model.DateAndTime.ToString("hh:mm tt")</div>
											</div>
											<div class="vertical-line"></div>
												<div class="fahrenheit-font-size bold-text">@Model.TemperatureFahrenheit</div>
											<div class="degree-symbol-style text-grey">°F</div>
										</div>
									</div>
				}
			
		</div>
		<a class="margin-set" href="/">Back to weather Home Page</a>
	</div>
</body>
</html>
