@model IEnumerable<CityWeather>;

<!DOCTYPE html>
<html>
<head>
	<title>Cities Weather Page</title>
	<link rel="stylesheet" href="~/StyleSheet.css" />
	<meta charset="utf-8" />
</head>
<body>
	<h1>Weather</h1>
	<div class="center-div page-content">
		<div class="flex-borderless-boxes ">    
			@foreach (CityWeather cityWeather in Model)
			{
				@if (cityWeather.TemperatureFahrenheit <= 44)
				{
					<div class="box-blue">		
						<div class="flex-borderless">
							<div class="left-items">
								<div class="font-size bold-text">@cityWeather.CityName</div>
								<div class="text-dark-grey bold-text">@cityWeather.DateAndTime.ToString("hh:mm tt")</div>
								<a href="/weather/@cityWeather.CityUniqueCode">Details</a>
							</div>
							<div class="vertical-line"></div>
							<div class="fahrenheit-font-size bold-text">@cityWeather.TemperatureFahrenheit</div>
							<div class="degree-symbol-style text-grey">°F</div>
						</div>
					</div>
				}
				else if (cityWeather.TemperatureFahrenheit > 44 && cityWeather.TemperatureFahrenheit < 74)
				{
							<div class="box-green">		
								<div class="flex-borderless">
									<div class="left-items">
										<div class="font-size bold-text">@cityWeather.CityName</div>
										<div class="text-dark-grey bold-text">@cityWeather.DateAndTime.ToString("hh:mm tt")</div>
										<a href="/weather/@cityWeather.CityUniqueCode">Details</a>
									</div>
									<div class="vertical-line"></div>
									<div class="fahrenheit-font-size bold-text">@cityWeather.TemperatureFahrenheit</div>
									<div class="degree-symbol-style text-grey">°F</div>
								</div>
							</div>
				}
				else if (cityWeather.TemperatureFahrenheit >= 74)
				{
							<div class="box-orange">		
								<div class="flex-borderless">
									<div class="left-items">
										<div class="font-size bold-text">@cityWeather.CityName</div>
										<div class="text-dark-grey bold-text">@cityWeather.DateAndTime.ToString("hh:mm tt")</div>
										<a href="/weather/@cityWeather.CityUniqueCode">Details</a>
									</div>
									<div class="vertical-line"></div>
									<div class="fahrenheit-font-size bold-text">@cityWeather.TemperatureFahrenheit</div>
									<div class="degree-symbol-style text-grey">°F</div>
								</div>
							</div>
				}
			}
		</div>
	</div>
</body>
</html>
